<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Data</title>
</head>
<body>
  <nav style="background-color: blue; padding: 10px; text-align: center;">
        
    <a href="/" style="color: black; margin: 50px;">Home</a>
    <a href="/create" style="color: black; margin: 50px;">Create</a>
    <a href="/update" style="color: black; margin: 50px;">Update</a>
    <a href="/delete" style="color: black; margin: 50px;">Delete</a>
</nav>

<form id="createForm">
    <label for="data">show  Data: </label>
    <input type="text" id="data" name="data" required>
    <button type="submit">show</button>
</form>

<script src="script.js"></script>
</body>
</html>